$o-community-color: #262b3b;
$o-enterprise-color: #262b3b;
$o-enterprise-primary-color: #262b3b;
$o-input-border-required: #232732;

$o-brand-odoo: $o-enterprise-color;
$o-brand-primary: $o-enterprise-primary-color;

$link-color: darken(#af9433, 10%);
